<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin domov</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona.png') }}">

</head>

<body>

    <div id="slikca_sredina">
        <a href="/"><img src="../static/slike/logotip.png" alt="logotip" width="40%"></a>
    </div>

    {% if username %}
        <p>Hej, {{ username }}! <a href="/logout">Odjava</a></p> 
    {% else %}
        <p>Se vedno nite prijavljeni. <a href="login">Prijavite se</a></p>
    {% endif %}

    <h1>Gurmanski svet</h1>


    <div id="index">

        <a href="/dashboard">Nadzorna plošča</a><br>
        <br>

        <ul>
            <li><a href="/idSearch">Isci po ID-ju</a></li>
            <li><a href="/randomRecipe">Nakljucni recept</a></li>
            <li><a href="/hladilnik">Isci po sestavinah</a></li>
            <li><a href="/kalkulator">Kalkulator</a></li>
            <li><a href="/zdravi">Zdravi obrok</a></li>
            <li><a href="/tecaji">Kuharski tecaji</a></li>
            <li><a href="/dodajRecept">Predlagaj svoj recept</a></li>
            <li><a href="/info">Dobi info o sestavinah</a></li>
            <li><a href="/pretvori">Pretvori enote</a></li>
            <li><a href="/login">Prijava</a></li>
            <li><a href="/register">Registracija</a></li>


        </ul>
    </div>
</body>
</html>