<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI kuharski pomočnik</title>


    <style>
        body {background-color: rgb(69, 71, 70); color: white;}

    </style>
</head>

<body>
    <a href="/">Domov</a>

    <h1>Pomagajste si z AI pomočnikom</h1>
    <h2>Vprašajte ga karkoli povezano s hrano</h2>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function getAi() {
            var output = document.getElementById("output");

            $.ajax({
                url: "/getDice",
                data: {
                    stranice: stranice.value,
                    met: met.value
                },
                success: function (result) {
                    output.innerHTML = "Result: " + result;
                    
                }
            });
        }
    </script>
</body>
</html>