<!DOCTYPE html>
<html>
<head>
    <title>Nadzorna plošča</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona.png') }}">
</head>
<body>
    <div id="slikca_sredina">
        <a href="/"><img src="../static/slike/logotip.png" alt="logotip" width="40%"></a>
    </div>
    <a href="/">Domov</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout">Odjava</a>
    <h2>Nadzorna plošča</h2>

    <div id="index">
        <ul>
            <li><a href="/uporabniki">Seznam uporabnikov</a><br></li>
            <li><a href="/recepti">Predlagani recepti</a></li>
        </ul>
    </div>
    
</body>
</html>
