<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodajanje recepta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona_food.png') }}">

</head>

<body>
    <a href="/">Domov</a>
    <h1>Dodajte svoj recept</h1>

    <form onsubmit="getDodajRecept(); return false;">
        <input type="text" id="naslov" placeholder="Naslov recepta" required><br><br>
        <textarea id="sestavine" rows="5" placeholder="Sestavine (vsaka v novo vrstico)" required></textarea><br><br>
        <textarea id="navodila" rows="6" placeholder="Navodila za pripravo" required></textarea><br><br>
        <select id="tezavnost" required>
            <option value="">Izberite težavnost</option>
            <option value="enostavno">Enostavno</option>
            <option value="srednje">Srednje</option>
            <option value="zahtevno">Zahtevno</option>
        </select><br><br>
        <input type="number" id="casPriprave" placeholder="Čas priprave (v minutah)" min="1" required><br><br>
        <input type="number" id="osebe" placeholder="Število oseb" min="1" required><br><br>
        
        <input type="submit" value="Dodaj recept"><br><br>
    </form>
    
    <div id="output"></div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function getDodajRecept() {
            var output = document.getElementById("output");
    
            $.ajax({
                url: "/getDodajRecept",

                data: {
                    naslov: naslov.value,
                    sestavine: sestavine.value,
                    navodila: navodila.value,
                    tezavnost: tezavnost.value,
                    casPriprave: casPriprave.value,
                    osebe: osebe.value
                },
                success: function(result) {
                    output.innerHTML = result.message;
                },
                error: function() {
                    output.innerHTML = "Napaka pri pošiljanju recepta!";
                }
            });
        }
    </script>
    
    
</body>
</html>

