<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskanje po hladilniku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona_food.png') }}">
</head>
<body>

    <div id="slikca_sredina">
        <a href="/"><img src="../static/slike/logo.png" alt="logotip" width="50%"></a>
    </div>
    <a href="/">Domov</a><br>


    <h1>Vnesi sestavine iz svojega hladilnika</h1>

    
    <br>


    <input type="text" id="sestavina1" placeholder="Sestavina 1"><br>
    <input type="text" id="sestavina2" placeholder="Sestavina 2"><br>
    <input type="text" id="sestavina3" placeholder="Sestavina 3"><br>
    <input type="text" id="sestavina4" placeholder="Sestavina 4"><br>

    <button onclick="getHladilnik()">Dobi recept</button>

    <br>
     <table border="1">
        <th colspan="2">Opozorilo</th>
        <tr>
            <td>Vnesite vsaj 1 sestavino </td>
            <td>Sestavine se ne smejo ponavljati.</td>
        </tr>

     </table>

    <div id="output1"></div>
    <div id="output2"></div>
    <div id="output3"></div>
    <div id="output4"></div>
    <div id="output5"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function getHladilnik() {
            var output = document.getElementById("output");

            $.ajax({
                url: "/getHladilnik",
                data: {
                    sestavina1: sestavina1.value,
                    sestavina2: sestavina2.value,
                    sestavina3: sestavina3.value,
                    sestavina4: sestavina4.value
                },
                success: function (result) {
                    if (!result.ime && !result.slika && (!result.ingredients || result.ingredients.length === 0) && !result.navodila) {
                        output1.innerHTML =  "Ni mogoče najti recepta." + ' <a href="#" onclick="location.reload()">Kliknite tukaj za osvežitev</a>';
                        output2.innerHTML = "";
                        output3.innerHTML = "";
                        output4.innerHTML = "";
                        return;
                    }
                    
                    else {
                    output1.innerHTML = result.ime;
                    output2.innerHTML = result.slika;
                    output3.innerHTML = result.sestavine;
                    output4.innerHTML = result.navodila;
                    output5.innerHTML = result.message;
                    }
                }
            });
        }
    </script>



</body>
</html>