<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona_food.png') }}">
</head>

<body>
    {% if username %}
        <p>Hej, {{ username }}! <a href="/logout">Odjava</a></p> 
    {% else %}
        <p>Se vedno nite prijavljeni. <a href="login">Prijavite se</a></p>
    {% endif %}
<a href="login"></a>
    <h1>Gurmanski svet</h1>
    <h2>Poskusite kakšno izmed funkcij</h2>

    <ul>
        <!--- <li><a href="/idSearch">Isci po ID-ju</a></li>-->
        <li><a href="/randomRecipe">Nakljucni recept</a></li>
        <li><a href="/hladilnik">Isci po sestavinah</a></li>
        <li><a href="/kalkulator">Kalkulator</a></li>
        <li><a href="/zdravi">Zdravi obrok</a></li>
        <li><a href="/tecaji">Kuharski tecaji</a></li>
        <li><a href="/dodajRecept">Dodaj svoj recept</a></li>
        <li><a href="/info">Dobi info o sestavinah</a></li>
        <li><a href="/pretvori">Pretvori enote</a></li>

        <!---<li><a href="/login">Prijava</a></li>
        <li><a href="/register">Registracija</a></li><--->
        
    </ul>

</body>
</html>