<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <h1>Gurmanski svet</h1>
    <h2>Poskusite kakšno izmed funkcij</h2>

    <ul>
        
        <li><a href="/randomRecipe">Nakljucni recept</a></li>
        <li><a href="/hladilnik">Isci po sestavinah</a></li>
        <li><a href="/kalkulator">Kalkulator</a></li>
        <li><a href="/ai">AI pomočnik</a></li>
        <li><a href="/zdravi">Zdravi obrok</a></li>
        <li><a href="/tecaji">Kuharski tecaji</a></li>
        <li><a href="/dodajRecept">Dodaj svoj recept</a></li>
        
    </ul>

</body>
</html>