<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacije o sestavinah</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona_food.png') }}">
</head>
<body>
    
    <a href="/">Domov</a>
    <h1>Dobite informacije o sestavinah</h1>

    <input type="text" id="sestavina" placeholder="Vnesite sestavino">
    <button onclick="getInfo()">Dobi informacije</button>


    <div id="output"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function getInfo() {
            var output = document.getElementById("output");

            $.ajax({
                url: "getInfo",
                data: {
                    sestavina: sestavina.value,

                },
                success: function (result) {
                    let html = `<h2>Hranilne vrednosti za: ${result.name}</h2>`;
                    html += `<table><thead><tr><th>Hranilo</th><th>Količina</th></tr></thead><tbody>`;
                    
                    for (const [key, value] of Object.entries(result)) {
                        if (key === 'name') continue;
                        html += `<tr><td>${key}</td><td>${value.amount} ${value.unit}</td></tr>`;
                    }
                
                    html += `</tbody></table>`;
                    output.innerHTML = html;
                }

            });
        }
    </script>

</body>
</html>