<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona_food.png') }}">
</head>
<body>
    
    <a href="/">Domov</a>
    <h1>Kalkulator sestavin</h1>

    <input type="number" id="kolicina1" placeholder="Količina 1"><br>
    <input type="number" id="kolicina2" placeholder="Količina 2"><br>
    <input type="number" id="kolicina3" placeholder="Količina 3"><br>
    <input type="number" id="kolicina4" placeholder="Količina 4"><br>
    <input type="number" id="kolicina5" placeholder="Količina 5"><br>
    <input type="number" id="kolicina6" placeholder="Količina 6"><br>
    <br>
    <input type="number" id="stevilo" placeholder="Število ljudi"><br>

    <button onclick="getKalkulator()">Pretvori sestavine</button>

    <p>*Vnesti morate vsaj eno kolicino</p>
    <p>*Število ljudi je obvezno</p>
 
    <div id="output">
        {% if pretvorjene %}
        <h2>Rezultati:</h2>
        <ul>
            {% for item in pretvorjene %}
                <li>{{ item }} enot</li>
            {% endfor %}
        </ul>
            {% else %}
                <p>Ni rezultatov za prikazati ali napačni podatki.</p>
            {% endif %}
    
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function getKalkulator() {
            var output = document.getElementById("output");
 
            $.ajax({
                url: "/getKalkulator",
                data: {
                    stevilo: stevilo.value,
                    kolicina1: kolicina1.value,
                    kolicina2: kolicina2.value,
                    kolicina3: kolicina3.value,
                    kolicina4: kolicina4.value,
                    kolicina5: kolicina5.value,
                    kolicina6: kolicina6.value

                },
                success: function (result) {
                    var html = "<h2>Vnesene količine:</h2><ul>";
                    html += "<li>Količina 1: &nbsp;&nbsp;" + kolicina1.value + "</li>";
                    html += "<li>Količina 2: &nbsp;&nbsp;" + kolicina2.value + "</li>";
                    html += "<li>Količina 3: &nbsp;&nbsp;" + kolicina3.value + "</li>";
                    html += "<li>Količina 4: &nbsp;&nbsp;" + kolicina4.value + "</li>";
                    html += "<li>Količina 5: &nbsp;&nbsp;" + kolicina5.value + "</li>";
                    html += "<li>Količina 6: &nbsp;&nbsp;" + kolicina6.value + "</li><br>";
                    html += "<li>Število ljudi: " + stevilo.value + "</li>";
                    html += "</ul>";
                
                    output.innerHTML = html;
                }


            });
        }
    </script>
</body>
</html>