<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {background-color: rgb(69, 71, 70); color: white;}
        a:visited {color: white}
        li {padding-bottom: 10px;}
    </style>
</head>
<body>
    <a href="/">Domov</a>
    <h1>Prijavite se!</h1>

    <form action="POST" method="/login">
        <input type="text" id="mail" placeholder="Vnesite e-mail" required><br>
        <input type="password" id="geslo" placeholder="Vnesite geslo" required><br>
    </form>
    <br>
    <button onclick="login()">Prijavi se</button><br>

    <div id="output"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function login() {
            var output = document.getElementById("output");

            $.ajax({
                url: "/login",  
                method: "POST",  
                data: {
                    mail: $("#mail").val(),
                    geslo: $("#geslo").val()
                },
                success: function (result) {
                    window.location.href = "/";
                },
                error: function (xhr, status, error) {
                    output.innerHTML = "Napacen e-mail ali geslo " + error;
                }
            });
        }
    </script>
</body>
</html>