<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaj naj jem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona_food.png') }}">
</head>
<body>
    
    <a href="/">Domov</a>

    <h1>Dobite nakljucni recept</h1>

    <input type="text" id="sestavine" placeholder="Sestavine">
    <input type="text" id="vrsta" placeholder="Vrsta kuhinje">
    <button onclick="getRandomRecipe()">Dobi recept</button>

    <div id="output1"></div>
    <div id="output2"></div>
    <div id="output3"></div>
    <div id="output4"><img src="output4" alt=""></div>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function getRandomRecipe() {
            var output = document.getElementById("output");


            $.ajax({
                url: "/getRandomRecipe",
                data: {
                    sestavine: sestavine.value,
                    vrsta: vrsta.value
                },
                success: function (result) {
                    
                    output1.innerHTML = result.ime;
                    output2.innerHTML = result.slika;
                    output3.innerHTML = result.ingredients + "<br>";
                    output4.innerHTML = result.navodila;
                    

                }
            });
        }
    </script>
</body>
</html>