<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrirajte se</title>
    <style>
        body {background-color: rgb(69, 71, 70); color: white;}
        a:visited {color: white}
        li {padding-bottom: 10px;}
    </style>
</head>

<body>
    <a href="/">Domov</a>
    <h1>Registrirajte se!</h1>

    <form action="POST" method="/register">
        <input type="text" id="username" placeholder="Uporabnisko ime" required><br>
        <input type="text" id="mail" placeholder="Vnesite e-mail" required><br>
        <input type="password" id="geslo" placeholder="Vnesite geslo" required><br>
    </form>
    <br>
    <button onclick="register()">Registriraj se</button>
    <div id="output"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function register() {
            var output = document.getElementById("output");

            $.ajax({
                url: "/register",  
                method: "POST",  
                data: {
                    username: $("#username").val(),
                    mail: $("#mail").val(),
                    geslo: $("#geslo").val()
                },
                success: function (result) {
                    window.location.href = "/";
                },
                error: function (error) {
                    output.innerHTML = error;
                }
            });
        }
    </script>
</body>
</html>