<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona.png') }}">
</head>

<body>
    <a href="/">Domov</a>


    <div>
        <div id="slikca_sredina">
        <a href="/"><img src="../static/slike/logotip.png" alt="logotip" width="40%"></a>
    </div>

    <h1>Registrirajte se!</h1>

    <form action="/register" method="POST">
        <input type="text" id="username" placeholder="Uporabnisko u. ime" required><br>
        <input type="text" id="mail" placeholder="Vnesite e-mail" required><br>
        <input type="password" id="geslo" placeholder="Vnesite geslo" required><br>
    </form>
    <br>

    <div id="sredina">
        <button onclick="register()">Registriraj se</button><br>
    </div>
    
    <div id="output"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function register() {
            var output = document.getElementById("output");

            $.ajax({
                url: "/register",  
                method: "POST",  
                data: {
                    username: username.value,
                    mail: mail.value,
                    geslo: geslo.value
                },
                success: function (result) {
                    output.innerHTML = result.message + " <a href='" + result.povezava + "'>Kliknite tukaj</a>";

                }
            });
        }
    </script>
</body>
</html>